<form action="/action_page.php" id="add_user">
    <label for="fname"> Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name">

    <label for="lname">Email</label>
    <input type="text" id="lname" name="email" placeholder="Your email.">

    <label for="lname">Gender</label><br><br>
    <input type="radio" id="male" name="gender" value="male">
  <label for="male">Male</label><br>
  <input type="radio" id="female" name="gender" value="female">
  <label for="female">Female</label><br><br>

  <label for="lname">Status</label><br><br>
  <input type="radio" id="male" name="gender" value="male">
<label for="male">Active</label><br>
<input type="radio" id="female" name="gender" value="female">
<label for="female">Inactive</label><br>
  
    <input type="submit" value="Submit">
  </form>