<tr>
    <th>ID</th>
    <th>Name</th>
    <th>Email</th>
    <th>Gender</th>
    <th>Status</th>
    <th>Action</th>
  </tr>
  <tr>
    <td>1</td>
    <td>shashi</td>
    <td>shashi@gmail.com</td>
    <td>femaile</td>
    <td>active</td>
    <td><a href="/update-user"><span>Edit</span></a>
      <a href="#"><span>Delete</span></a>
  </td>
  </tr>